*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif ;
    border: border-box ;
}
.navbar{
    height: 60px;
    background-color: #0f1111 ;
    /* background-color: red ; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 60px;
    width: 100%;
   
}
.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
} 
/* box2 */

.add-first{
    color: #cccccc;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 15px;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}

.nav-search{
    display: flex;
    align-items: center;
    /* background-color: pink; */
    height: 40px;
    width: 800px;
    border-radius: 3px;
}
.select-search{
    background-color: #f3f3f3;
    width: 50px;
    height: 40px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.select-input{
    background-color: white;
    height: 38px;
    width:700px;
    border: none;
    font-size:1rem;
}
.search-icon{
    width: 45px;
    height: 40.4px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(255, 162, 0);
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
}

.country>select{
    background-color: transparent;
    color: #cccccc;
    border: none;
}
.country>p{
    font-size: 15px;
    
}

.country{
    display: flex;
    align-items: center;

}
.acc-list{
    font-size: 13px;

}
#acclist{
    font-size: 11x;
    display: flex;
    font-weight:900;
    
}
#acclist>select{
    background-color: transparent;
    color: white;
    border: none;
}

.last2{
    display: inline-flexbox;
    align-items: center;
}
#retruns{
    font-size: 13px;
}

#orders{
    background-color: transparent;
    color: white;
    font-size: 13px;
    font-weight:900;
    border: none;
}
.cart{
    display: flex;   
    align-items: end;
    font-size: 15px;
    font-weight: 800;
}
/* end header */

/* start hero */

.hero{
    height: 40px;
    background-color: #262f3e;
    display: flex ;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}

.all{
    display: flex;
    color: white;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    justify-content: left;
}

.minitv{
    display: flex;
    margin-left: 5px;
    justify-items: center;
    font-size: 14px
  
}

.sell{
    font-size: 14px

}

.best{
    font-size: 14px
}

.mobiles{
    font-size: 14px
}

.today{
    font-size: 14px

}
.customer{
    font-size: 14px
 
}

.new{
    font-size: 14px
     
}
#prime{

    margin-left: 15px;
    font-size: 15px; 
    display: flex;
}


 #prime>select{
    background-color: transparent;
    color: white;
    border: none;
}
.electronic{
   
    font-size: 14px
}
.kichen{
  
    font-size: 14px
}
.Amazonpay{
  
    font-size: 14px 
}

.event{
    width: 100;
    height: 34px;
    display: flex;
    align-items: center;

}


.page3{
    background-image: url("mainpage.jpg");
    background-size: cover ;
    height: 260px;

    
}

/* end hero */


/* shoping-section */

.shoping-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #eef7fc;
    flex-wrap: wrap;
}

.box{

    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 10px;
   
    
}

.box-img{
    height: 300px ;
    margin-bottom: 38px; ;
    
}
.box-contant{
   
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
   
}
.box-contant>h2{
    margin-bottom: 2px;
}
.matrix-contant{
    display: flex;
}

.row1{
    height: 118px;
    width: 180px;
    margin-bottom: 50px;
    margin-right: 20px;

}
.row2{
    height: 118px;
    width: 180px;
    margin-bottom: 50px;

}
a{
   
    color:#007185;
    text-decoration: none;
}

.today-head{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color:  #ffffff;
    width: 100%;
    flex-wrap: wrap;
    

}


.today-deal{

    display: flex;
    justify-content:space-evenly;
    height: 210px;
    width: 100%;
    background-color: white;
    margin-top: 10px;


   
}

.deal{

    background-color: white;
    margin-right: 5px;
    height: 200px;
    width: 250px;

}

.deal-contant{
    margin-left: 1rem;
    margin-right: 1rem;
}
.deal01{
    background-color: #ffffff;
}

/* end deal section */

.voucher{
    height: 438px;
    width: 100%;
    margin: 20px 20px  ;

    background-color: white;
   
}

.voucher-token{
    background-image: url(voucher1.jpg);
    height: 400px;
    width: 97%;
    background-size: cover;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.sponsored{
    margin-top: 25px;
    height: 270px;
    width: 70%;
    background-image: url(sponsored.jpg);
    background-size: cover;   
}


.watch-section{
    
    padding: 10px 20px ;
    height: 280px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
   
}

.watches{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    height: 220px;
    width: 100%;
    
}

.watch1{
    background-image: url(watch1.jpg);
    background-size: cover;
    width: 175px;
    
}
.watch2{
    background-image: url(watch2.jpg);
    background-size: cover;
    width: 200px;
    
}
.watch3{
    background-image: url(watch3.jpg);
    background-size: cover;
    width: 170px;
    
}
.watch4{
    background-image: url(watch4.jpg);
    background-size: cover;
    width: 160px;
    
}
.watch5{
    background-image: url(watch5.jpg);
    background-size: cover;
    width: 190px;
    
}
.watch6{
    background-image: url(watch6.jpg);
    background-size: cover;
    width: 160px;
    
}
.watch7{
    background-image: url(watch8.jpg);
    background-size: cover;
    width: 190px;
    
}

footer{
    margin-top: 20px;
}

.foot-panel1{
    background-color: #37475a;
    height: 50px;
    width: 1470px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.89rem;
  
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 350px;
}


ul p{
    margin-top: 10px;
}
ul{
    margin-top: 50px;
}

.foot-panel3{
    border-top: 0.5px solid white;
    height: 110px;
    background-color: #222f3d;
    display: flex;
    justify-content: center;
  

}
.foot-panel2>ul>p{
    font-size: 13px;
}
.footer-logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 60px;
    width: 100px;
}
.contry{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 60px;
}
.contry>p{
    margin-left: 15px;
    font-size: 12px;
}
.foot-panel5{
    height: 90px;
    color: white;
    background-color: #131A22;
}

.foot-page1{
    display: flex;
    justify-content: center;

    font-size: 12px;
    

}
.foot-page1>p{

    margin-top: 45px;
    margin-left: 13px;
    font-weight: 500;
}

.foot-page2{
    display: flex;
    font-size: 12px;
    justify-content: center;
}
    
.foot-page2>p{
    margin-top: 5px;
    font-weight: 500;

}

.foot-panel4{
    color: white;
    background-color:#131A22 ;
}

.secation1{
    display: flex;
    justify-content: center;
}
.secation1>ul>p{
    font-size: 10px;
}

